group: travis_latest
language: python
cache: pip

# safelist
branches:
  only:
  - master
  - dev
  - gh-pages

python:
  - 3.6
  # - 3.7
matrix:
  include:
    - python: 3.6
#    - python: 3.7
#      dist: xenial    # required for Python 3.7 (travis-ci/travis-ci#9069)
#      sudo: required  # required for Python 3.7 (travis-ci/travis-ci#9069)

stages:
  - Tests
  - Examples
  - Deploy

before_install_rl: &before_install_rl
  sudo apt install redis-server

install_dl: &requirements_dl
  pip install -r requirements/requirements.txt

install_rl: &requirements_all
  pip install -r requirements/requirements.txt -r requirements/requirements-rl.txt

jobs:
  include:
    - stage: Tests
      install:
        - *requirements_dl
        - pip install flake8 flake8-docstrings flake8-quotes yapf isort
        - pip install -U pytest
      script:
        - isort -rc --check-only --settings-path ./setup.cfg
        - make check-style

    - stage: Examples
      name: "Examples DL"
      install: *requirements_all
      script:
        - bash ./bin/tests/check_dl.sh

    - stage: Examples
      name: "Examples on-policy RL – REINFORCE"
      before_install: *before_install_rl
      install: *requirements_all
      script:
        - bash ./bin/tests/check_reinforce.sh

    - stage: Examples
      name: "Examples on-policy RL – PPO"
      before_install: *before_install_rl
      install: *requirements_all
      script:
        - bash ./bin/tests/check_ppo.sh

    - stage: Examples
      name: "Examples off-policy RL – DQN"
      before_install: *before_install_rl
      install: *requirements_all
      script:
        - bash ./bin/tests/check_dqn.sh

    - stage: Examples
      name: "Examples off-policy RL – DDPG"
      before_install: *before_install_rl
      install: *requirements_all
      script:
        - bash ./bin/tests/check_ddpg.sh

    - stage: Examples
      name: "Examples off-policy RL – SAC"
      before_install: *before_install_rl
      install: *requirements_all
      script:
        - bash ./bin/tests/check_sac.sh

    - stage: Examples
      name: "Examples off-policy RL – TD3"
      before_install: *before_install_rl
      install: *requirements_all
      script:
        - bash ./bin/tests/check_td3.sh

# speed up for now
#    - stage: Deploy
#      name: "Pip package"
#      install: skip # nothing to do
#      # in near future the pip-package will be created here
#      script: true

    - stage: Deploy
      name: "Docs"
      if: branch = master
      install:
        - *requirements_all
        - pip install -r docs/requirements.txt
        - pip install travis-sphinx
        # for correct changelog on github pages
        - pip install git+https://github.com/bitprophet/releases/#egg=releases
#        - pip install -U git+https://github.com/leokoppel/sphinxcontrib-versioning
      script:
        - travis-sphinx build --source docs/
      after_success:
        - travis-sphinx deploy
