# Framework must-haves
numpy>=1.14.6
torch>=0.4.1
torchvision>=0.2.1
jpeg4py
opencv-python
scikit-image
tqdm>=4.29.1
PyYAML
tensorboardX>=1.6
plotly>=3.6.1
tensorflow==1.12
torchnet

# Used in scripts
matplotlib
pandas>=0.22
scikit-learn>=0.20

# For RL
mock
redis
gym
