model_params:
  model: SimpleNet

args:
  expdir: "_tests_mnist_stages"
  logdir: "./logs/mnist_simple"

stages:

  data_params:
    batch_size: 64
    num_workers: 0
    loaders_params:
      valid:
        batch_size: 32
      train:
        num_workers: 1
        drop_last: True

  state_params:
    main_metric: &reduce_metric accuracy01
    minimize_metric: False

  criterion_params:
      criterion: CrossEntropyLoss

  optimizer_params:
    optimizer: Adam
    lr: 0.001
    weight_decay: 0.0001

  stage1:
    state_params:
      num_epochs: &num_epochs 3

    scheduler_params:
      scheduler: OneCycleLRWithWarmup
      num_steps: *num_epochs
      warmup_steps: 1
      lr_range: [0.005, 0.00005]
      momentum_range: [0.85, 0.95]

    callbacks_params:
      loss:
        callback: CriterionCallback
      optimizer:
        callback: OptimizerCallback
      accuracy:
        callback: AccuracyCallback
        accuracy_args: [1, 3, 5]
      scheduler:
        callback: SchedulerCallback
        reduce_metric: *reduce_metric
      saver:
        callback: CheckpointCallback
        save_n_best: 3
