model_params:
  model: SimpleNet


args:
  expdir: "cifar_stages"
  logdir: "./logs/cifar_stages"


stages:

  data_params:
    batch_size: 64
    num_workers: 1

  state_params:
    num_epochs: 2
    main_metric: &reduce_metric accuracy01
    minimize_metric: False

  criterion_params:
    criterion: CrossEntropyLoss

  scheduler_params:
    scheduler: MultiStepLR
    milestones: [10]
    gamma: 0.3

  callbacks_params:
    loss:
      callback: CriterionCallback
    optimizer:
      callback: OptimizerCallback
    accuracy:
      callback: AccuracyCallback
      accuracy_args: [1, 3, 5]
    scheduler:
      callback: SchedulerCallback
      reduce_metric: *reduce_metric
    saver:
      callback: CheckpointCallback

  stage1:

    optimizer_params:
      _key_value:
        conv.*:
          lr: 0.0001
        fc3.*:
          lr: 0.01

      optimizer: Adam
      lr_linear_scaling:
        lr: 0.001
        base_batch_size: 64
      weight_decay: 0.0001
      no_bias_weight_decay: True # removes `weight_decay` for model's biases

  # tune
  stage2:
    state_params:
      num_epochs: 3

    optimizer_params:
      load_from_previous_stage: True
      optimizer: Adam
      lr_linear_scaling:
        lr: 0.0001
        base_batch_size: 64
      weight_decay: 0.0001
      no_bias_weight_decay: True
