# Refer to configs/config-description-eng.yml
# for detailed comments on this configuration file

model_params:
  model: SimpleNet


runner_params:
  input_key: image


args:
  expdir: "cifar_stages"
  logdir: "./logs/cifar_stages"


stages:

  data_params:
    batch_size: 64
    num_workers: 1
    samplers_params:
      train:
        sampler: MiniEpochSampler
        data_len: 50000
        mini_epoch_len: 35000
        drop_last: True
        shuffle: per_epoch

  transform_params:
    transform: albumentations.Compose
    transforms:
      - transform: albumentations.Normalize
      - transform: catalyst.ToTensor

  stage_params:
    num_epochs: 3
    main_metric: &reduced_metric accuracy01
    minimize_metric: False

  criterion_params:
    criterion: CrossEntropyLoss

  scheduler_params:
    scheduler: MultiStepLR
    milestones: [10]
    gamma: 0.3

  callbacks_params:
    train_augmentaions:
      callback: BatchTransformCallback
      transform:
        - transform: kornia.RandomMotionBlur
          kernel_size: 3
          angle: 5.0
          direction: 0.5
      input_key: image
      loader: train
    loss:
      callback: CriterionCallback
    optimizer:
      callback: OptimizerCallback
    accuracy:
      callback: AccuracyCallback
      accuracy_args: [1, 3, 5]
    scheduler:
      callback: SchedulerCallback
      reduced_metric: *reduced_metric
    saver:
      callback: CheckpointCallback

  stage1:
    optimizer_params:
      optimizer: Ralamb

      layerwise_params:
        conv1.*:
          lr: 0.001
          weight_decay: 0.0003
        conv.*:
          lr: 0.002

      lr_linear_scaling:
        lr: 0.001
        base_batch_size: 64
      weight_decay: 0.0001
      no_bias_weight_decay: True # removes `weight_decay` for model's biases

  # tune
  stage2:
    stage_params:
      num_epochs: 3

    optimizer_params:
      load_from_previous_stage: True
      optimizer: Ralamb
      lr_linear_scaling:
        lr: 0.0001
        base_batch_size: 64
      weight_decay: 0.0001
      no_bias_weight_decay: False
