args:
  logdir: ./logs/atari-ppo
#  expdir: src

  vis: 0
  infer: 0   #  change me
  valid: 1   #  change me
  train: 8   #  change me

db:
  db: RedisDB  # RedisDB or MongoDB
  port: 12001
  prefix: atari-ppo  # TODO: remove

environment:
  environment: AtariEnvWrapper
  env_id: PongNoFrameskip-v4

  history_len: &history_len 4
  frame_skip: 4
  reward_scale: 1.0

agents:
  actor:
    agent: Actor

    state_net_params:  # state -> hidden representation
      observation_net_params:
        _network_type: "convolution"
        history_len: *history_len
        channels: [32 64, 32]
        use_bias: false
        normalization: null
        dropout_rate: null
        activation: LeakyReLU
      main_net_params:
        out_features: &embedding_size 512
    policy_head_params:  # hidden representation -> ~policy
      in_features: *embedding_size
      # out features would be taken from action_shape
      policy_type: categorical

  critic:
    agent: StateCritic

    state_net_params:  # state -> hidden representation
      observation_net_params:
        _network_type: "convolution"
        history_len: *history_len
        channels: [32, 64, 32]
        use_bias: false
        normalization: null
        dropout_rate: null
        activation: LeakyReLU
      main_net_params:
        features: [512]
        use_bias: false
        normalization: LayerNorm
        activation: ReLU
    value_head_params:  # hidden representation -> ~policy
      in_features: 512
      out_features: 1

#        num_heads: 10
#        hyperbolic_constant: 0.01

#      distribution: categorical
#      num_atoms: 51
#      values_range: [-10.0, 10.0]

#      distribution: quantile
#      num_atoms: 51

algorithm:
  algorithm: PPO

  n_step: 1
  gamma: 0.99

  gae_lambda: 0.95
  clip_eps: 0.2
  entropy_regularization: 0.01

  actor_optimizer_params:
    optimizer: Adam
    lr: 0.0003
  critic_optimizer_params:
    optimizer: Adam
    lr: 0.0003

  actor_grad_clip_params:
    func: clip_grad_value_
    clip_value: 1.0

trainer:
  rollout_batch_size: 1024
  batch_size: 2048             # transitions
  num_workers: 4
  num_mini_epochs: 10
  min_num_trajectories: 200
  min_num_transitions: 100000

  save_period: 50              # epochs

sampler:
  exploration_params:
    - exploration: NoExploration
      probability: 1.0

  valid_seeds: [
    1608637542,
    1273642419,
    1935803228,
    787846414,
    996406378,
    1201263687,
    423734972,
    415968276,
    670094950,
    1914837113,
    669991378,
    429389014,
    249467210,
    1972458954,
    1572714583,
    1433267572,
    434285667,
    613608295,
    893664919,
    648061058,
    88409749,
    242285876,
    2018247425,
    953477463,
    1427830251,
    1883569565,
    911989541,
    3344769,
    780932287,
    2114032571,
    787716372,
    504579232,
    1306710475,
    479546681,
    106328085,
    30349564,
    1855189739,
    99052376,
    1250819632,
    106406362,
    480404538,
    1717389822,
    599121577,
    200427519,
    1254751707,
    2034764475,
    1573512143,
    999745294,
    1958805693,
    389151677,
    1224821422,
    508464061,
    857592370,
    1642661739,
    61136438,
    2075460851,
    396917567,
    2004731384,
    199502978,
    1545932260,
    461901618,
    774414982,
    732395540,
    1934879560,
    279394470,
    56972561,
    1927948675,
    1899242072,
    1999874363,
    271820813,
    1324556529,
    1655351289,
    1308306184,
    68574553,
    419498548,
    991681409,
    791274835,
    1035196507,
    1890440558,
    787110843,
    524150214,
    472432043,
    2126768636,
    1431061255,
    147697582,
    744595490,
    1758017741,
    1679592528,
    1111451555,
    782698033,
    698027879,
    1096768899,
    1338788865,
    1826030589,
    86191493,
    893102645,
    200619113,
    290770691,
    793943861,
    134489564
  ]
