shared:
  observation_size: 8
  action_size: 2

  history_len: 3
  n_step: 1
  gamma: 0.99
  discrete_actions: False

args:
  logdir: ./logs/rl_gym  #  change me
  algorithm: TD3
  environment: GymWrapper
  vis: 0
  infer: 1  #  change me
  train: 3  #  change me

redis:
  port: 12000
  prefix: gym

env:
  env_name: LunarLanderContinuous-v2
  env_type: continuous
  reward_scale: 0.01
  frame_skip: 2
  step_delay: 0.01

actor:
  agent: Actor
  head_hiddens: [128, 128]
  layer_fn: Linear
  bias: false
  norm_fn: LayerNorm
  activation_fn: ReLU
  out_activation: Tanh

critic:
  agent: Critic
  observation_hiddens: []
  action_hiddens: []
  head_hiddens: [128, 128, 64]
  layer_fn: Linear
  bias: false
  norm_fn: LayerNorm
  activation_fn: ReLU

algorithm:
  critic_distribution: quantile
  actor_tau: 0.01
  critic_tau: 0.01
  min_action: &min_action -1.0
  max_action: &max_action 1.0

  actor_optimizer_params:
    optimizer: Adam
    lr: 0.0003
  critic_optimizer_params:
    optimizer: Adam
    lr: 0.0003

  actor_grad_clip_params:
    func: clip_grad_value_
    clip_value: 1.0

  actor_scheduler_params:
    scheduler: MultiStepLR
    milestones: [2000000]  # batches
    gamma: 1.0
  critic_scheduler_params:
    scheduler: MultiStepLR
    milestones: [2000000]  # batches
    gamma: 1.0

  critic_loss_params:
    criterion: HuberLoss
    clip_delta: 1.0

trainer:
  batch_size: 256              # transitions
  num_workers: 1
  replay_buffer_size: 1000000  # transitions
  start_learning: 500          # transitions
  epoch_len: 1000               # batches
  target_update_period: 1      # batches
  save_period: 1               # epochs
  weights_sync_period: 1       # epochs

sampler:
  weights_sync_period: 1
  buffer_size: 1100
  action_clip: [*min_action, *max_action]

seeds: [1, 10, 1000, 10000, 42000]

exploration:
  - strategy: ParameterSpaceNoise
    probability: 0.2
    params:
      target_sigma: 0.1
      tolerance: 0.001
      max_steps: 1000

  - strategy: GaussNoise
    probability: 0.6
    params:
      sigma: 0.2

  - strategy: Greedy
    probability: 0.2
    params:
