# Framework must-haves
numpy>=1.16.4
torch>=1.0.0
torchvision>=0.2.1
Pillow<7
imageio
opencv-python
scikit-image>=0.14.2
tqdm>=4.33.0
PyYAML
tensorboard>=1.14.0
tensorboardX
plotly>=4.1.0
safitty>=1.2.3
crc32c>=1.7
ipython
packaging

# Used in scripts
matplotlib
seaborn
pandas>=0.22
scikit-learn>=0.20
GitPython>=2.1.11
