name: PR Linter

on:
  pull_request:
    branches:
      - develop
      - master


jobs:
  flake8-linter:
    name: flake8-reviewdog
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: install dependencies
        run: |
          pip install catalyst-codestyle==20.04
          mkdir -p $HOME/bin && curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s -- -b $HOME/bin
          echo ::add-path::$HOME/bin

      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # https://github.com/catalyst-team/codestyle/blob/master/bin/catalyst-check-codestyle#L78
          flake8 --exclude=".git,__pycache__,docs/source/conf.py,build,dist" --extend-ignore="D100,D104,D200,D204,D205,D301,D400,D401,D402,D412,D413,E203,E731,W503,W504" --max-line-length=79 --max-doc-length=79 --inline-quotes=double --multiline-quotes=double --docstring-quotes double -- . | reviewdog -f=pep8 -reporter=github-pr-review
